##---------------------------------------------------
# MATLAB default .gitignore
##---------------------------------------------------

# Editor autosave files
*~
*.asv
# Saved matlab data
*.mat

# Compiled MEX binaries (all platforms)
*.mex*
# Binary objects
*.o

